.react-datepicker {
  border: none !important;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.react-datepicker__header {
  background-color: #d32f2f !important;
  color: rgb(0, 0, 0) !important;
  border-bottom: none !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__current-month {
  color: rgb(0, 0, 0) !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #b71c1c !important;
  color: white !important;
}

.react-datepicker__day:hover {
  background-color: rgba(211, 47, 47, 0.15) !important;
}
