.react-datepicker {
  border: none !important;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 10px var(--color-sombra);
  background-color: var(--color-fondo-card) !important;
}

.react-datepicker__header {
  background-color: #d32f2f !important;
  color: white !important;
  border-bottom: none !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__current-month {
  color: var(--color-texto) !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #b71c1c !important;
  color: white !important;
}

.react-datepicker__day:hover {
  background-color: rgba(211, 47, 47, 0.15) !important;
}

.react-datepicker__month-container {
  background-color: var(--color-fondo-card) !important;
}
