solicitudVisita-facil-api/target/
*.jar
*.war
*.class
*.log
.DS_Store

VisitaFacil/node_modules/
VisitaFacil/.env
VisitaFacil/.env.local
VisitaFacil/build/
VisitaFacil/.cache/
VisitaFacil/coverage/
VisitaFacil/dist/
.idea/                      # Configuración de IntelliJ IDEA
.vscode/                    # Configuración de VS Code
*.iml                       # Archivos de módulos de IDEA
*.swp                       # Archivos temporales de Vim
Thumbs.db                   # Miniaturas de Windows