solicitudVisita-facil-api/target/
*.jar
*.war
*.class
*.log
.DS_Store

VisitaFacil/node_modules/
VisitaFacil/.env
VisitaFacil/.env.local
VisitaFacil/build/
VisitaFacil/.cache/
VisitaFacil/coverage/
VisitaFacil/dist/

.idea/
.vscode/
*.iml
*.swp
Thumbs.db